{% extends "base.html" %}
{% block content %}
    <h3>Restaurant List</h3>
    <ul>
        {% for r in restaurant_list %}
        <li><a href="{% url 'myrestaurant:detail_restaurant' restaurant.id %}">{{restaurant.name}}</a> </li>
        {% empty %} <li>There is no restaurant now.</li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <p><span class="glyphicon glyphicon-plus"></span> <a href="{% url 'myrestaurant:create_restaurant' %}">Add restaurant</a></p>
    {% else %}
        <p><span class="glyphicon glyphicon-plus"></span> <a href="{% url 'login' %}"> Please login to add restaurant.</a></p>
    {% endif %}
{% endblock %}